@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

body{
min-height: 100vh;
display: flex;
background: black;
overflow: hidden;
font-family: 'poppins';
color: white;
}

aside{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px 15px;

    nav{
        display: flex;
        flex-direction: column;
       a{
        padding: 20px 10px ;
        display: flex;
        gap: 5px;
        white-space: nowrap; /* yazıların tek satırda olmasını sağlar. */
        transition: all 0.3s;
        border-radius: 10px;

        span{
            @media(max-width: 870px){

                span{
                    display: none;
                }
                i{
                    font-size: 20px;
                }
              
            }
        
        }

        &:hover{
            background: rgb(32,32,32);
        }
       }
    }
    #logo{
        display: none;
        width: 40px;
    }
    #logo-text{
        display: block;
    }
    @media(max-width: 870px){
        #logo{
            display: block;
        }
        #logo-text{
            display: none;
        }

     }

     img{
        max-width: 130px;
        object-fit: contain;
    }
}

//ana içerik 

main{
    width: 100%;

    //ana içerik üst
    header{
    display: flex;
    justify-content: space-between;
    padding: 24px 10px;

    @media(max-width: 870px){
        justify-content: space-between;
    }

    form{
        display: flex;

        input{
            padding: 6px 12px;
            border: none;
            border-radius: 5px 0 0 5px;
            outline: none;
        }

        button{
            background:#1db954;
            height: 100%;
            padding: 0 25px;
            border: none;
            cursor: pointer;
            color: white;
            border-radius: 0 5px 5px 0;
            &:hover{
                background: #4fe684;
            }
            
        }
    }

    ul{
        display: flex;
        list-style: none;
        align-items: center;
        @media(max-width: 870px){
            display: none;
        }

        li{
            padding: 5px 10px;
            border-radius: 10px;
            cursor: pointer;
            transition: background 300ms;

            &:hover{
                background: rgb(60,60,60);
            }
        }
    }
    }

    .songs{
    background: rgb(42,42,42);
    height: 100vh;
    
    text-transform: capitalize;
    #title{
        padding: 20px;
    }

    #list{
        margin: 0 20px 40px 20px;
        display: flex;
        padding: 0 20px;
        flex-wrap: wrap;
        height: 80vh;
        overflow-y: auto;
        justify-content: space-between;
        gap: 20px;
        
&::-webkit-scrollbar{
    background: black;
    width: 8px;
}

&::-webkit-scrollbar-thumb{
    background: #1db954;
}

        @media (max-width:768px){
            justify-content: center;
            gap: 50px;
        }
        
        .card{
            width: 200px;
            padding: 15px;
            background: #181818;
            border-radius: 6px;
            cursor: pointer;

            &:hover .play{
                opacity: 1;
                bottom: 20px;
            }
            

            figure{
                position: relative;
                img{
                    width: 100%;
                    border-radius: 6px;
                    margin-bottom: 10px;
                }
                .play{

                    position: absolute;
                    background: #1db954;
                    right: 10px;
                    bottom: 20px;
                    border-radius: 50%;
                    width: 40px;
                    height: 50px;
                    display: grid;
                    place-items: center;
                    font-size: 15px;

                    //görünmez olması için

                    opacity: 0;
                    bottom: -20px;
                    transition: all 0.3s;
                    &:hover{
                        background: #4fe684;
                        scale: 0.9;
                    }
                }
            }
            h4{
                margin-bottom: 6px;
            }
        }
    }
    }


}

//oynatılan şarkı barı

.playing{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    gap: 50px;
    padding: 10px 40px;
    width: 100%;
    z-index: 100;
    background-color: #08AEEA;
    background-image: linear-gradient(270deg, #08AEEA 0%, #2AF598 100%);
    text-shadow: 0 0 10px rgba(0,0,0,0.612);


    @media (max-width:768px) {
        font-size:13px;
        padding: 10px;
    }

  #close-btn{
    
    width: 10px;
    height: 10px;
    i{

    width: 10px;
    height: 10px;
}  
}

    .info{
        display: flex;
        align-items: center;
        gap: 20px;


        img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
       
    }

    audio{
     width: 300px;       
    }
}

//animation benden hangi animasyonu yapacağını ister, o yüzden önce onu tanımlamam gerekir.
.animate{
    animation: turn 3s linear infinite;
}

.hidden{
    display: none;
}

//animasyon hangi değerden hangi değere gitsin.
@keyframes turn{
 
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    height: 96px;
    width: 96px;
    animation: rotate_3922 1.2s linear infinite;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
  }
  
  .container span {
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
  }
  
  .container span:nth-of-type(1) {
    filter: blur(5px);
  }
  
  .container span:nth-of-type(2) {
    filter: blur(10px);
  }
  
  .container span:nth-of-type(3) {
    filter: blur(25px);
  }
  
  .container span:nth-of-type(4) {
    filter: blur(50px);
  }
  
  .container::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: #fff;
    border: solid 5px #ffffff;
    border-radius: 50%;
  }
  
  @keyframes rotate_3922 {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  